<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<%= form_for(current_user) do |f| %>
  <%= f.text_field :name, placeholder: "Your name here" %>
  <%= f.submit 'use this name' %>
<% end %>

