@import "mixins.scss";

body {
  font-family: 'Space Mono', monospace;
  margin: 0 auto;
  max-width: 40em;
  line-height: 1.5;
  padding: 4em 1em;
  color: #566b78;
}

h1 {
  margin-top: 2em;
  padding-top: 2em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

.folder-listings {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .folder-listing {
    min-height: 160px;
    min-width: 105px;
    border-right: 1px dotted black;
    padding: 0px;

    a {
      @include setLinkStyleAll {
        color: gray;
        text-decoration: none;
        font-size: 11px;
      }
      .link-target {
        img {
          height: 11px;
          opacity: 0.6;
        }
      }
    }

    .light_up {
      background-color: #d0d0fa;
    }
  }
}
